body {
  background: linear-gradient(-45deg, #ada08e, #7c775d, #99b27f, #3a7563);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 80vh;
  color: #e6d3a7;
  font-family: "Bungee Hairline", cursive;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
h1 {
  text-align: center;
  font-family: "Plaster", sans-serif;
}
a {
  color: #e6d3a7;
  text-decoration: none;
}
footer {
  text-align: center;
  padding: 10px;
}
footer a {
  text-decoration: underline;
}
form {
  text-align: center;
}
form select {
  width: 100%;
  padding: 10px;
  border: solid 2px #3b6f58;
  border-radius: 8px;
  font-size: 18px;
  color: #e6d3a7;
  font-family: "Bungee Hairline", cursive;
  background-color: rgba(59, 111, 88, 0.6);
}
.cities {
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  height: 400px;
  max-width: 600px;
  justify-content: space-around;
  overflow: hidden;
}
.city {
  text-align: center;
  border: solid 2px #3b6f58;
  width: 130px;
  border-radius: 160px / 160px;
}

.container {
  max-width: 600px;
  margin: 50px auto;
  background-color: rgba(59, 111, 88, 0.6);
  padding: 20px;
  border: solid 2px #3b6f58;
  border-radius: 40px;
  box-shadow: 10px 10px 15px 5px rgba(0, 0, 0, 0.1);
}
.location {
  margin-top: 40px;
}
.time {
  margin-top: 100px;
  font-size: 27px;
}
.date {
  margin-top: 85px;
}
