body {
  background-color: #acc6aa;
}
h1 {
  text-align: center;
}
footer {
  text-align: center;
  padding: 10px;
}
form {
  text-align: center;
}
form select {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  font-size: 18px;
}
.city {
  text-align: center;
}
.container {
  max-width: 600px;
  margin: 50px auto;
  background-color: #dde0ab;
  padding: 20px;
  border-radius: 40px;
  box-shadow: 10px 10px 15px 5px rgba(0, 0, 0, 0.1);
}
